body{
    font-family: sans-serif;
}

#main{
    width: 500px;
    min-height: 200px;
    background-color: lightblue;
    border: 3px solid darkblue;
    padding: 20px;
    margin: 50px auto;
}
.question{
    min-height: 40px;
}
.reponse{
    display: block;
}

h1{
    font-size: 14px;
}
