body{
    font-family: sans-serif;
}

#main{
    width: 500px;
    height: 400px;
    background-color: lightblue;
    border: 3px solid darkblue;
    padding: 20px;
    margin: 50px auto;
}

.reponse{
    display: block;
}

h1{
    font-size: 14px;
}